/*CSS reset settings here*/
*{
 margin: 0px;
 padding: 0px;
}

#wrapper{
 width: 970px;
 overflow: auto; /*added because the content was overflowing off the wrapper*/
 background-color: rgb(48, 48, 104);
 margin: 0px auto;
 padding: 15px;
}
#header{
 height: 50px;
 background-color: red;
 border-radius: 25px;
 padding: 1%;
}
#navigation{
 height: 300px;
 width: auto;
 background-color: rgb(34, 112, 143);
 margin: 10px 12px 10px 0px;
 float: left;
 padding: 2%;
 border-radius: 25px;
}

h1, h2, p {
    color: lightblue;
}

p {
    padding: 1%;
}


a {
    color: rgb(118, 188, 211);
}

#main_content{
 height: auto;
 width: 700px;
 background-color: rgb(16, 13, 59);
 margin: 10px 0px 10px 10px;
 float: left;
 display: block;
 border-radius: 25px;
 padding: 1%;
}

ul.subcontents{
 color: lightblue;
 list-style-position: inside;
 margin: 12px 0px 10px 13px;
 list-style-type: disc;
}

ul.subcontents2{
    color: lightblue;
    list-style-position: inside;
    margin: 12px 0px 10px 13px;
    list-style-type: circle;
}

.code{
    color: rgb(79, 54, 194);
}

#info{
 width: 96%;
 display: block;
 background-color: rgb(95, 95, 95);
 margin: 13px;
 float: left;
 border-radius: 25px;
 padding: 1%;

}